body {
    background: #171718;
    color: beige;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .img {
    /*width: 60px;
    height: 60px;*/
}

.menu .img img {
    object-fit: cover;
    width: 100%;
}

nav  {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav li {
    list-style: none;
}